<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>RRBackgroundPlayerBlackSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {348, 370}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{348, 370}</string>
			<key>spriteSourceSize</key>
			<string>{348, 370}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{625, 0}, {348, 370}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRBackgroundPlayerWhiteSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {330, 364}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{330, 364}</string>
			<key>spriteSourceSize</key>
			<string>{330, 364}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{975, 0}, {330, 364}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRBannerWinBlack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {528, 506}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{528, 520}</string>
			<key>spriteSourceSize</key>
			<string>{528, 520}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 727}, {528, 520}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRBannerWinNo.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {472, 476}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{472, 476}</string>
			<key>spriteSourceSize</key>
			<string>{472, 476}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1249}, {472, 476}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRBannerWinWhite.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {516, 540}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{516, 540}</string>
			<key>spriteSourceSize</key>
			<string>{516, 540}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{530, 727}, {516, 540}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonAILevelAbbot.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {224, 258}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{224, 258}</string>
			<key>spriteSourceSize</key>
			<string>{224, 258}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{625, 372}, {224, 258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonAILevelAbbotSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {224, 258}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{224, 258}</string>
			<key>spriteSourceSize</key>
			<string>{224, 258}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1583, 32}, {224, 258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonAILevelDeacon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {186, 206}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{186, 206}</string>
			<key>spriteSourceSize</key>
			<string>{186, 206}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1573, 354}, {186, 206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonAILevelDeaconSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {186, 206}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{186, 206}</string>
			<key>spriteSourceSize</key>
			<string>{186, 206}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1251, 440}, {186, 206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonAILevelNovice.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 196}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{176, 204}</string>
			<key>spriteSourceSize</key>
			<string>{176, 204}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1048, 1136}, {176, 204}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonAILevelNoviceSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 204}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{176, 204}</string>
			<key>spriteSourceSize</key>
			<string>{176, 204}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{854, 1269}, {176, 204}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonBack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {168, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{168, 116}</string>
			<key>spriteSourceSize</key>
			<string>{168, 116}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{474, 1345}, {168, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonBackSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {168, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{168, 116}</string>
			<key>spriteSourceSize</key>
			<string>{168, 116}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{644, 1345}, {168, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonContinue.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {157, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{157, 74}</string>
			<key>spriteSourceSize</key>
			<string>{157, 74}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1226, 1136}, {157, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonContinueSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {157, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{157, 74}</string>
			<key>spriteSourceSize</key>
			<string>{157, 74}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1320, 928}, {157, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonDone.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {112, 111}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{112, 111}</string>
			<key>spriteSourceSize</key>
			<string>{112, 111}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{851, 372}, {112, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonHowToPlay.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {262, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{270, 54}</string>
			<key>spriteSourceSize</key>
			<string>{270, 54}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1370, 794}, {270, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonHowToPlaySelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {270, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{270, 54}</string>
			<key>spriteSourceSize</key>
			<string>{270, 54}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1048, 928}, {270, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonMenu.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {168, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{168, 116}</string>
			<key>spriteSourceSize</key>
			<string>{168, 116}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{644, 1463}, {168, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonMenuSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {168, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{168, 116}</string>
			<key>spriteSourceSize</key>
			<string>{168, 116}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{474, 1463}, {168, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonPlayers1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {380, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{386, 58}</string>
			<key>spriteSourceSize</key>
			<string>{386, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1431, 294}, {386, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonPlayers1Selected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {386, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{386, 58}</string>
			<key>spriteSourceSize</key>
			<string>{386, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1048, 868}, {386, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonPlayers2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {388, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{396, 58}</string>
			<key>spriteSourceSize</key>
			<string>{396, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1023, 660}, {396, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonPlayers2Selected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {396, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{396, 58}</string>
			<key>spriteSourceSize</key>
			<string>{396, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{625, 660}, {396, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonQuit.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 7}, {176, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{188, 74}</string>
			<key>spriteSourceSize</key>
			<string>{188, 74}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{474, 1269}, {188, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonQuitSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{188, 74}</string>
			<key>spriteSourceSize</key>
			<string>{188, 74}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{664, 1269}, {188, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonRestart.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 7}, {306, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{320, 72}</string>
			<key>spriteSourceSize</key>
			<string>{320, 72}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1251, 366}, {320, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonRestartSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{320, 72}</string>
			<key>spriteSourceSize</key>
			<string>{320, 72}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1048, 794}, {320, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonResume.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 7}, {284, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{298, 72}</string>
			<key>spriteSourceSize</key>
			<string>{298, 72}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1348, 720}, {298, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonResumeSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {298, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{298, 72}</string>
			<key>spriteSourceSize</key>
			<string>{298, 72}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1048, 720}, {298, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonSlider.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 94}</string>
			<key>spriteSourceSize</key>
			<string>{60, 94}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1501, 440}, {60, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonSliderSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 94}</string>
			<key>spriteSourceSize</key>
			<string>{60, 94}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1439, 440}, {60, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonStartGame.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {200, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 150}</string>
			<key>spriteSourceSize</key>
			<string>{200, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1809, 90}, {200, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonStartGameSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {200, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 150}</string>
			<key>spriteSourceSize</key>
			<string>{200, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1048, 984}, {200, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonWWW.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 43}, {186, 206}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{274, 292}</string>
			<key>spriteSourceSize</key>
			<string>{274, 292}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{975, 366}, {274, 292}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonWWWSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {274, 292}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{274, 292}</string>
			<key>spriteSourceSize</key>
			<string>{274, 292}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1307, 0}, {274, 292}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RREmptyTile.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {152, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 152}</string>
			<key>spriteSourceSize</key>
			<string>{152, 152}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1439, 562}, {152, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RREmptyTile3D.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {152, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 8}</string>
			<key>spriteSourceSize</key>
			<string>{152, 8}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{625, 632}, {152, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RREmptyTile3DBack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {152, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 8}</string>
			<key>spriteSourceSize</key>
			<string>{152, 8}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{779, 632}, {152, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRMenuBG.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {623, 725}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{623, 725}</string>
			<key>spriteSourceSize</key>
			<string>{623, 725}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {623, 725}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRPointBlack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1369, 294}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRPointWhite.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {52, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1307, 294}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRSliderBG.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {432, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{432, 30}</string>
			<key>spriteSourceSize</key>
			<string>{432, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1583, 0}, {432, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRTextEndTurn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 33}</string>
			<key>spriteSourceSize</key>
			<string>{90, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1809, 242}, {90, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRTextVolume.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {216, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{216, 56}</string>
			<key>spriteSourceSize</key>
			<string>{216, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1809, 32}, {216, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRTileBack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {152, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 152}</string>
			<key>spriteSourceSize</key>
			<string>{152, 152}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1593, 562}, {152, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRTileEdgeBlack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {60, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 120}</string>
			<key>spriteSourceSize</key>
			<string>{60, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{913, 485}, {60, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRTileEdgeWhite.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 120}</string>
			<key>spriteSourceSize</key>
			<string>{60, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{851, 485}, {60, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.3</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>textures.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>hd</string>
			<key>textureFileName</key>
			<string>textures-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>textures-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>