<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>RRBackgroundPlayerBlackSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {348, 370}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{348, 370}</string>
			<key>spriteSourceSize</key>
			<string>{348, 370}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1700, 384}, {348, 370}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRBackgroundPlayerWhiteSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {330, 364}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{330, 364}</string>
			<key>spriteSourceSize</key>
			<string>{330, 364}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1700, 756}, {330, 364}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRBannerWinBlack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {474, 406}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{480, 440}</string>
			<key>spriteSourceSize</key>
			<string>{480, 440}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1218, 362}, {480, 440}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRBannerWinNo.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 14}, {472, 476}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{472, 490}</string>
			<key>spriteSourceSize</key>
			<string>{472, 490}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1184, 804}, {472, 490}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRBannerWinWhite.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 20}, {436, 420}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{480, 440}</string>
			<key>spriteSourceSize</key>
			<string>{480, 440}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{625, 393}, {480, 440}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonAILevelAbbot.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {224, 258}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{224, 258}</string>
			<key>spriteSourceSize</key>
			<string>{224, 258}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1790, 124}, {224, 258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonAILevelAbbotSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {224, 258}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{224, 258}</string>
			<key>spriteSourceSize</key>
			<string>{224, 258}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{384, 917}, {224, 258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonAILevelDeacon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {186, 206}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{186, 206}</string>
			<key>spriteSourceSize</key>
			<string>{186, 206}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{564, 1477}, {186, 206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonAILevelDeaconSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {186, 206}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{186, 206}</string>
			<key>spriteSourceSize</key>
			<string>{186, 206}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1521}, {186, 206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonAILevelNovice.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 196}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{176, 204}</string>
			<key>spriteSourceSize</key>
			<string>{176, 204}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{194, 1455}, {176, 204}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonAILevelNoviceSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 204}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{176, 204}</string>
			<key>spriteSourceSize</key>
			<string>{176, 204}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{372, 1611}, {176, 204}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonBack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {168, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{168, 116}</string>
			<key>spriteSourceSize</key>
			<string>{168, 116}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{452, 727}, {168, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonBack2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {128, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{136, 68}</string>
			<key>spriteSourceSize</key>
			<string>{136, 68}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{340, 1817}, {136, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonBack2Selected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {136, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{136, 68}</string>
			<key>spriteSourceSize</key>
			<string>{136, 68}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1867}, {136, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonBackSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {168, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{168, 116}</string>
			<key>spriteSourceSize</key>
			<string>{168, 116}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{170, 1779}, {168, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonContinue.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {158, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{158, 74}</string>
			<key>spriteSourceSize</key>
			<string>{158, 74}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1017, 922}, {158, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonContinueSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {158, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{158, 74}</string>
			<key>spriteSourceSize</key>
			<string>{158, 74}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1020, 846}, {158, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonDone.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {112, 111}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{112, 111}</string>
			<key>spriteSourceSize</key>
			<string>{112, 111}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{886, 1075}, {112, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonEndGame.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{182, 88}</string>
			<key>spriteSourceSize</key>
			<string>{182, 88}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1000, 1152}, {182, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonEndGameSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {182, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{182, 88}</string>
			<key>spriteSourceSize</key>
			<string>{182, 88}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{372, 1521}, {182, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonHowToPlay.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {262, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{270, 54}</string>
			<key>spriteSourceSize</key>
			<string>{270, 54}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{597, 1345}, {270, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonHowToPlaySelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {270, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{270, 54}</string>
			<key>spriteSourceSize</key>
			<string>{270, 54}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{597, 1289}, {270, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonMenu.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {168, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{168, 116}</string>
			<key>spriteSourceSize</key>
			<string>{168, 116}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1729}, {168, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonMenuSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {168, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{168, 116}</string>
			<key>spriteSourceSize</key>
			<string>{168, 116}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{188, 1661}, {168, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonMultiplayerBluetooth.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {212, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{220, 70}</string>
			<key>spriteSourceSize</key>
			<string>{220, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{382, 1177}, {220, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonMultiplayerBluetoothSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {220, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{220, 70}</string>
			<key>spriteSourceSize</key>
			<string>{220, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{398, 845}, {220, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonMultiplayerGameCenter.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {310, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{318, 98}</string>
			<key>spriteSourceSize</key>
			<string>{318, 98}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{620, 895}, {318, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonMultiplayerGameCenterSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {318, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{318, 98}</string>
			<key>spriteSourceSize</key>
			<string>{318, 98}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1019}, {318, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonMultiplayerHotseat.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {184, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 80}</string>
			<key>spriteSourceSize</key>
			<string>{192, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{374, 1363}, {192, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonMultiplayerHotseatSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 80}</string>
			<key>spriteSourceSize</key>
			<string>{192, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1439}, {192, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonPlayers1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {380, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{386, 58}</string>
			<key>spriteSourceSize</key>
			<string>{386, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1658, 1182}, {386, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonPlayers1Selected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {386, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{386, 58}</string>
			<key>spriteSourceSize</key>
			<string>{386, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1658, 1122}, {386, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonPlayers2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {388, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{396, 58}</string>
			<key>spriteSourceSize</key>
			<string>{396, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 811}, {396, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonPlayers2Selected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {396, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{396, 58}</string>
			<key>spriteSourceSize</key>
			<string>{396, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{622, 835}, {396, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonQuit.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 7}, {176, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{188, 74}</string>
			<key>spriteSourceSize</key>
			<string>{188, 74}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{374, 1445}, {188, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonQuitSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{188, 74}</string>
			<key>spriteSourceSize</key>
			<string>{188, 74}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{568, 1401}, {188, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonReplay.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {238, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{248, 60}</string>
			<key>spriteSourceSize</key>
			<string>{248, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1790, 0}, {248, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonReplaySelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {246, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{248, 60}</string>
			<key>spriteSourceSize</key>
			<string>{248, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1790, 62}, {248, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonRestart.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 7}, {306, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{320, 72}</string>
			<key>spriteSourceSize</key>
			<string>{320, 72}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 945}, {320, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonRestartSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{320, 72}</string>
			<key>spriteSourceSize</key>
			<string>{320, 72}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 871}, {320, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonResume.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 7}, {284, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{298, 72}</string>
			<key>spriteSourceSize</key>
			<string>{298, 72}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1119}, {298, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonResumeSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {298, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{298, 72}</string>
			<key>spriteSourceSize</key>
			<string>{298, 72}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1193}, {298, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonSlider.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 94}</string>
			<key>spriteSourceSize</key>
			<string>{60, 94}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{320, 1115}, {60, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonSliderSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 94}</string>
			<key>spriteSourceSize</key>
			<string>{60, 94}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1937}, {60, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonStartGame.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {218, 110}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{218, 112}</string>
			<key>spriteSourceSize</key>
			<string>{218, 112}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{377, 1249}, {218, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonStartGameSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {218, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{218, 112}</string>
			<key>spriteSourceSize</key>
			<string>{218, 112}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1267}, {218, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonWWW.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {274, 292}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{274, 292}</string>
			<key>spriteSourceSize</key>
			<string>{274, 292}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{886, 1242}, {274, 292}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRButtonWWWSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {274, 292}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{274, 292}</string>
			<key>spriteSourceSize</key>
			<string>{274, 292}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{610, 995}, {274, 292}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRCharB0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 30}, {19, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 88}</string>
			<key>spriteSourceSize</key>
			<string>{75, 88}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{524, 1817}, {75, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRCharB1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 29}, {21, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 88}</string>
			<key>spriteSourceSize</key>
			<string>{75, 88}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{62, 1937}, {75, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRCharB2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 29}, {25, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 88}</string>
			<key>spriteSourceSize</key>
			<string>{75, 88}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1141, 306}, {75, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRCharB3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 29}, {31, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 88}</string>
			<key>spriteSourceSize</key>
			<string>{75, 88}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1107, 666}, {75, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRCharB4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 30}, {31, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 88}</string>
			<key>spriteSourceSize</key>
			<string>{75, 88}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{216, 1897}, {75, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRCharB5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 26}, {35, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 88}</string>
			<key>spriteSourceSize</key>
			<string>{75, 88}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{550, 1685}, {75, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRCharB6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 17}, {29, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 88}</string>
			<key>spriteSourceSize</key>
			<string>{75, 88}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{524, 1907}, {75, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRCharB7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 29}, {23, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 88}</string>
			<key>spriteSourceSize</key>
			<string>{75, 88}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{300, 1211}, {75, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRCharB8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 19}, {27, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 88}</string>
			<key>spriteSourceSize</key>
			<string>{75, 88}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1107, 486}, {75, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRCharB9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 29}, {31, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 88}</string>
			<key>spriteSourceSize</key>
			<string>{75, 88}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1107, 576}, {75, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRCharW0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 12}, {53, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 88}</string>
			<key>spriteSourceSize</key>
			<string>{75, 88}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{447, 1887}, {75, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRCharW1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 11}, {51, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 88}</string>
			<key>spriteSourceSize</key>
			<string>{75, 88}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{940, 895}, {75, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRCharW2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 11}, {59, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 88}</string>
			<key>spriteSourceSize</key>
			<string>{75, 88}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1107, 756}, {75, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRCharW3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 10}, {65, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 88}</string>
			<key>spriteSourceSize</key>
			<string>{75, 88}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{139, 1897}, {75, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRCharW4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 12}, {65, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 88}</string>
			<key>spriteSourceSize</key>
			<string>{75, 88}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{370, 1887}, {75, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRCharW5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 9}, {67, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 88}</string>
			<key>spriteSourceSize</key>
			<string>{75, 88}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{293, 1897}, {75, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRCharW6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 0}, {63, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 88}</string>
			<key>spriteSourceSize</key>
			<string>{75, 88}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{752, 1491}, {75, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRCharW7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 11}, {57, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 88}</string>
			<key>spriteSourceSize</key>
			<string>{75, 88}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{940, 985}, {75, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRCharW8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 1}, {61, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 88}</string>
			<key>spriteSourceSize</key>
			<string>{75, 88}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1107, 396}, {75, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRCharW9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 12}, {65, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 88}</string>
			<key>spriteSourceSize</key>
			<string>{75, 88}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{758, 1401}, {75, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RREmptyTile.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {152, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 152}</string>
			<key>spriteSourceSize</key>
			<string>{152, 152}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{220, 1301}, {152, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RREmptyTile3D.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {152, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 8}</string>
			<key>spriteSourceSize</key>
			<string>{152, 8}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1847}, {152, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RREmptyTile3DBack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {152, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 8}</string>
			<key>spriteSourceSize</key>
			<string>{152, 8}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1857}, {152, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRMenuBG.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {623, 725}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{623, 725}</string>
			<key>spriteSourceSize</key>
			<string>{623, 725}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {623, 725}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRPointBlack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{139, 1987}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRPointWhite.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {52, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{201, 1987}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRPopupBG.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {611, 269}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{611, 269}</string>
			<key>spriteSourceSize</key>
			<string>{611, 269}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{625, 0}, {611, 269}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRSliderBG.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {432, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{432, 30}</string>
			<key>spriteSourceSize</key>
			<string>{432, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 779}, {432, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRTextChooseYourAllegiance.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {520, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{520, 120}</string>
			<key>spriteSourceSize</key>
			<string>{520, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1238, 240}, {520, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRTextEndTurn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 33}</string>
			<key>spriteSourceSize</key>
			<string>{90, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1141, 271}, {90, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRTextGameCenterError.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {350, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 38}</string>
			<key>spriteSourceSize</key>
			<string>{350, 38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1658, 1294}, {350, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRTextPlayerDisconnected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {376, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{380, 50}</string>
			<key>spriteSourceSize</key>
			<string>{380, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1658, 1242}, {380, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRTextVolume.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {216, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{216, 56}</string>
			<key>spriteSourceSize</key>
			<string>{216, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1381}, {216, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRTextWaitingForOtherPlayer.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {446, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{450, 50}</string>
			<key>spriteSourceSize</key>
			<string>{450, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 727}, {450, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRTextWhoMakesTheFirstMove.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {514, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{514, 120}</string>
			<key>spriteSourceSize</key>
			<string>{514, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{625, 271}, {514, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRTextWinConsecutivelyB.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 49}, {528, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{550, 118}</string>
			<key>spriteSourceSize</key>
			<string>{550, 118}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1238, 120}, {550, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRTextWinConsecutivelyW.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 1}, {516, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{550, 118}</string>
			<key>spriteSourceSize</key>
			<string>{550, 118}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1238, 0}, {550, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRTileBack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {152, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 152}</string>
			<key>spriteSourceSize</key>
			<string>{152, 152}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1017, 998}, {152, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRTileEdgeBlack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {60, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 120}</string>
			<key>spriteSourceSize</key>
			<string>{60, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{322, 871}, {60, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RRTileEdgeWhite.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 120}</string>
			<key>spriteSourceSize</key>
			<string>{60, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{322, 993}, {60, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>textures.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>hd</string>
			<key>textureFileName</key>
			<string>textures-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>textures-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>